<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenge.mysrtp.mapper.RawPostsMapper">

    <resultMap id="Post" type="com.chenge.mysrtp.entity.RawPosts">
        <!--id指定主键列的封装规则,return指定普通列的封装规则
        column:数据库列名
        property:对应的javabean属性
        -->
        <result column="title" property="title"/>
        <result column="body" property="body"/>
        <result column="tags" property="tags"/>
    </resultMap>

<!--    <sql id="InsertFields">-->
<!--        title, body, tags-->
<!--    </sql>-->

<!--    <insert id="insertPost">-->
<!--        insert into rawposts (<include refid="InsertFields"></include>)-->
<!--        values (#{title},#{body},#{tags});-->
<!--    </insert>-->

<!--    <select id="selectPost" resultMap="Post">-->
<!--        select <include refid="InsertFields"></include>-->
<!--        from rawposts where id = #{id};-->
<!--    </select>-->

<!--    <select id="selectAllPosts" resultMap="Post">-->
<!--        select <include refid="InsertFields"></include>-->
<!--        from rawposts;-->
<!--    </select>-->

</mapper>